
<div *ngIf="data" style="margin-left: 50px;">
    <div style="display: flex;">
        <div class="left_axis">
            <span class="y_axis_title">{{y_axis_title}}</span>
        </div>
        <ng-container *ngFor="let data_item of data">
            <app-bar [barHeight]= "data_item" [factor]=factor style="margin-left: 10px;"></app-bar>
        </ng-container>
    </div>
    <div class="bottom_axis">
        <div style="height: 6px"></div>
        <div style="margin-left: 8px;">
            <ng-container *ngFor="let label of labels">
                <span class="x_axis_label">{{label}}</span>
            </ng-container>
        </div>
        <div class="x_axis_title">
            <h3>{{x_axis_title}}</h3>
        </div>
    </div>
</div>


